<div class="" *ngIf="show; else loading ">
  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area" Sticky-Element offset="450">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                  <!-- <h1><span>e</span>Business</h1>-->
                  <!-- Uncomment below if you prefer to use an image logo -->
                    <img src="{{data.icon}}" alt="" title="">
								</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active">
                    <a (click)="scrollToElement(home)">{{data.secciones.home.navbar}}</a>
                  </li>
                  <li>
                    <a (click)="scrollToElement(about)">{{data.secciones.about.navbar}}</a>
                  </li>
                  <li>
                    <a (click)="scrollToElement(servicios)">{{data.secciones.servicios.navbar}}</a>
                  </li>
                  <li>
                    <a (click)="scrollToElement(galeria)">{{data.secciones.galeria.navbar}}</a>
                  </li>
                  <li>
                    <a (click)="scrollToElement(contacto)">{{data.secciones.contacto.navbar}}</a>
                  </li>
                </ul>
              </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->

  <!-- Start Slider Area -->
    <!-- <div class="bend niceties preview-2"> -->
    <div #home class="slider-container">
      <div class="photo" *ngFor="let item of data.secciones.home.imagen"  [ngStyle]="{'background': 'url('+ item.imagen + ')'}">  
          <div class="overlay">              
              <h2 class="title">{{data.secciones.home.titulo}}</h2>
              <h1 class="title">{{data.secciones.home.subtitulo}}</h1>    
          </div>
          </div>
    </div>
  <!-- </div> -->
  <!-- End Slider Area -->

  <!-- Start About area -->
  <div #about id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>{{data.secciones.about.titulo}}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
								  <img src="{{data.secciones.about.imagen}}" alt="">
								</a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a >
                <h4 class="sec-head">{{data.secciones.about.subtitulo}}</h4>
              </a>
              <p>
                {{data.secciones.about.descripcion}}
              </p>
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div>
  <!-- End About area -->

  <!-- Start Service area -->
  <div #servicios id="services" class="services-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h2>{{data.secciones.servicios.titulo}}</h2>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="services-contents">
          <!-- Start Left services -->
          <div *ngFor="let landing of data.secciones.servicios.servicio" 
          class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a href="#">
                    <img src="{{landing.imagen}}" alt="">
                  </a>
                  <h4>{{landing.titulo}}</h4>
                  <p>{{landing.descripcion}}</p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>

          
        
        </div>
      </div>
    </div>
  </div>
  <!-- End Service area -->

  <!-- Start reviews Area -->
  <div class="reviews-area hidden-xs">
    <div class="work-us">
      <div class="work-left-text">
        <a href="#">
						<img src="{{data.secciones.imagencontacto.imagen}}" alt="">
					</a>
      </div>
      <div class="work-right-text text-center">
        <h2>{{data.secciones.imagencontacto.titulo}}</h2>
        <h5>{{data.secciones.imagencontacto.subtitulo}}</h5>
        <a href="#contact" class="ready-btn">Contact us</a>
      </div>
    </div>
  </div>
  <!-- End reviews Area -->

  <!-- Start galeria Area -->
  <div #galeria id="portfolio" class="portfolio-area area-padding fix">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>{{data.secciones.galeria.titulo}}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Start Portfolio -page -->
        <div class="awesome-project-content">


          <!-- single-awesome-project start -->
          <div *ngFor="let landing of data.secciones.galeria.imagenes" 
          class="col-md-4 col-sm-4 col-xs-12 design development">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{{landing.imagen}}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="venobox" data-gall="myGallery" href="{{landing.imagen}}">
                      <h4>{{landing.titulo}}</h4>
                      <span>{{landing.subtitulo}}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->


         



        </div>
      </div>
    </div>
  </div>
  <!-- awesome-galeria end -->

 

  <!-- Start contact Area -->
  <div #contacto id="contact" class="contact-area">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>{{data.secciones.contacto.titulo}}</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-mobile"></i>
                <p>
                  Teléfono:{{data.secciones.contacto.telefono}}<br>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-envelope-o"></i>
                <p>
                  Email: {{data.secciones.contacto.email}}<br>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-map-marker"></i>
                <p>
                  Lugar: {{data.secciones.contacto.lugar}}<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact Area -->

  <!-- Start Footer bottom Area -->
  <footer>
    <div class="footer-area-bottom">
        <div class="pyme" >     
            <p>Generado por</p>
            <a href="http://solucionescolabora.com/desarrollos/pymeassistant" target="_blank"> <img src="assets/pyme_logo.png" alt=""></a>
    </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>